.Body{
   background-color: rgb(110, 110, 199);
   min-height: 100vh; 
}
#image{
    width:150px;
    height:150px;
    margin-top:70px;
    margin-left:30px;

}
#head{
    color:white;
    margin-top: 40px;
    margin-left: 70px;
}
#para{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    margin-right: 700px;
    margin-bottom: 50px;
    margin-left: 90px;
}
#button{
    margin-left: 90px;
    color:rgb(28, 28, 80)
    
    
   
}
.form{
    display: grid;
    flex-wrap: wrap;
    gap:10px;
    border: "3px solid black";
}